@import '../../../variables.scss';

.formWrapper {
    .formTitle {
        @include title;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .error {
        height: 12px;
        @include error;
    }
}
