@import '../../../variables.scss';

.taskCard {
    width: 450px;
    height: 194px;
    border-radius: 16px;

    .title {
        @include title;
    }

    .label {
        @include boldText;
    }

    .text {
        @include text;
    }
}
