@import '../../../../variables.scss';

.login {
    width: 400px;
    height: 300px;
    border-radius: 16px;

    .title {
        margin: 0 0 24px 0;
        @include title;
        font-size: 36px;
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .error {
        height: 12px;
        @include error;
    }
}
